body{
    height:100%;
    background: cadetblue linear-gradient(to right, rgb(121, 145, 187), rgb(174, 201, 248), rgb(148, 186, 252));
}

.wpBackground{
    height:100vh;
    min-height: 500px;
    /*Background image*/
    background:url('images/UmbrellaBG.jpg') no-repeat center center fixed;
   /*Below are fallbacks to cover on all platforms*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*#forecastTab li a.active{*/
/*    border-bottom-color: transparent;*/
/*    background-color: var(--CFColors-Orange-rgba);*/
/*}*/





